{% extends 'Powker4Bundle::layout.html.twig' %}

{% block main %}
Avez-vous un porte-monaie ? Très bien, si vous voulez continuer, vous en aurez besoin (beaucoup).
<a href="{{ path('powker4_game_start') }}"
   class="btn btn-primary">
  Démarrer une partie
</a>
{% endblock main %}
