{% extends 'Powker4Bundle::layout.html.twig' %}

{% block main %}
<table id="grid">
  <thead>
    {% for key, form in forms %}
    <th>
      {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

        <div class="form-group">
          {{ form_widget(form.x, {'attr': {'class': 'form-control', 'value': key}}) }}
        </div>

        <button type="submit" class="btn btn-primary">Placer</button>

      {{ form_end(form) }}
    </th>
    {% endfor %}
  </thead>
  <tbody>
    {% for i in 0..5 %}
    <tr>
      {% for i in 0..6 %}
      <td></td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>

{#
<table id="grid">
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td><div class="piece_b"><div></div></div></td>
    <td><div class="piece_a"><div></div></div></td>
    <td></td>
    <td><div class="piece_b"><div></div></div></td>
  </tr>
  <tr>
    <td></td>
    <td><div class="piece_b"><div></div></div></td>
    <td></td>
    <td><div class="piece_a"><div></div></div></td>
    <td><div class="piece_a"><div></div></div></td>
    <td><div class="piece_b"><div></div></div></td>
    <td><div class="piece_a"><div></div></div></td>
  </tr>
</table>
#}

{% endblock main %}
